* {
	box-sizing: border-box;
}
body {
	font-size: 10px;
	/*width: 85%;
	margin: 0 auto;*/
}
.checkers--wrapper {
	margin: 0 auto;
	width: 43rem;
	height: 43rem;
	background-image: url(../img/desk.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}
.line {
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
	position: absolute;
}
.checker {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
/*	outline: 1px solid red;
*/}
.checker:not(:last-child) {
	margin-right: 5.61rem;	
}

.checker--white {
	background-color: #fff;
	border: .2rem solid #ccc;
}
.checker--black {
	background-color: #000;
	border: .2rem solid #fff;
}
.line__1 {
	bottom: 5rem;
	left: 9.25rem;	
}
.line__2 {
	bottom: 9.3rem;
	left: 4.95rem;	
}
.line__3 {
	bottom: 13.5rem;
	left: 9.25rem;	
}
.line__4 {
	top: 13.5rem;
	left: 4.95rem;	
}
.line__5 {
	top: 9.3rem;
	left: 9.25rem;	
}
.line__6 {
	top: 5rem;
	left: 4.95rem;	
}
